@charset "UTF-8";

.wrapper {
    position: relative;
    border: 15px solid #000;
    transition: 2s;
}

.indexviwe {
    position: relative;
    height: 100vh;
    z-index: -99;
}
.indexviwe-bg {
    margin: 0;
    background-color: #1b1b1b;
}

.indextext {
    position: absolute;
    top: 165px;
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
}
.indextext img {
    width: 980px;
}
.indextext p {
    margin: 55px 0;
    font-size: 24px;
}
.indextext span {
    font-size: 27px;
}
.stagearea {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}
.stage1 {
    width: 100%;
    height: 30px;
    background-color: #F0ECFF;
}
.centerstage1 {
    position: absolute;
    bottom: 54px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    width: 220px; /* 幅 */
	height: 0px; /* y位置 */
	border-top: 26px solid #F0ECFF; /* 高さ */
	border-left: 50px solid transparent; /* 左側の角度 */
	border-right: 50px solid transparent; /* 右側の角度 */
}
.stage2 {
    width: 100%;
    height: 60px;
    background-color: #1b1b1b;
}
.centerstage2 {
    width: 200px; /* 幅 */
	height: 0px; /* y位置 */
    margin: 0 auto;
	border-top: 20px solid #1b1b1b; /* 高さ */
	border-left: 30px solid transparent; /* 左側の角度 */
	border-right: 30px solid transparent; /* 右側の角度 */
}

.mainarea {
    position: relative;
    perspective: 200px;
    margin-top: -450px;
}
.container {
    width: 720px;
    margin: 0 auto;
    transform: translate(0, 100px);
}
.lanearea {
    width: 600px;
    height: 700px;
    margin: -215px auto 0;
    display: flex;
    transform: rotateX(30deg);
    transform-origin: center bottom;
    border: 2px solid #888;
    border-bottom: 1px solid #888;
}
.lane {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-right: 2px solid #888;
    background-color: #ccffff;
    font-size: 24px;
}
@-webkit-keyframes laneAnimation {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes laneAnimation {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-o-keyframes laneAnimation {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes laneAnimation {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
.lane1 {
    background: linear-gradient(3deg, #fbbeff, #ff8fdb, #b8e7ff, #ff73f6);
    background-size: 800% 800%;
    -webkit-animation: laneAnimation 8s ease infinite;
    -moz-animation: laneAnimation 8s ease infinite;
    animation: laneAnimation 8s ease infinite;
}
.lane2 {
    background: linear-gradient(3deg, #fbbeff, #ff8fdb, #b8e7ff, #ff73f6);
    background-size: 800% 800%;
    -webkit-animation: laneAnimation 4s ease infinite;
    -moz-animation: laneAnimation 4s ease infinite;
    animation: laneAnimation 4s ease infinite;
}
.lane3 {
    background: linear-gradient(3deg, #fbbeff, #ff8fdb, #b8e7ff, #ff73f6);
    background-size: 800% 800%;
    -webkit-animation: laneAnimation 6s ease infinite;
    -moz-animation: laneAnimation 6s ease infinite;
    animation: laneAnimation 6s ease infinite;
}
.lane4 {
    background: linear-gradient(3deg, #fbbeff, #ff8fdb, #b8e7ff, #ff73f6);
    background-size: 800% 800%;
    -webkit-animation: laneAnimation 6s ease infinite;
    -moz-animation: laneAnimation 6s ease infinite;
    animation: laneAnimation 6s ease infinite;
}
.lane p{
    position: absolute;
    top: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 3rem;
    writing-mode: vertical-rl;
    white-space: nowrap;
}


.active {
    width: 100%;
    height: 25px;
    background-color: #fff;
}


.audiencearea {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    z-index: -50;
    width: 100%;
    height: 520px;
    padding: 100px 0 0;
    overflow: hidden;
}
.audienceleft {
    width: 600px;
}
.audienceright {
    width: 600px;
}

#line-3-1-lottie {
    width: 550px;
    margin-top: -40px;
}
#line-2-1-lottie {
    width: 575px;
    margin-top: -250px;
    transform: translateX(-50px);
}
#line-1-1-lottie {
    width: 550px;
    margin-top: -300px;
    transform: translateX(-100px);
}
#line-3-2-lottie {
    width: 550px;
    margin-top: -40px;
    transform: translateX(60px);
    overflow: none;
}
#line-2-2-lottie {
    width: 575px;
    margin-top: -250px;
    transform: translateX(25px);
}
#line-1-2-lottie {
    width: 550px;
    margin-top: -300px;
    transform: translateX(120px);
}

.audiencebg {
    position: absolute;
    bottom: 0;
    z-index: -75;
    width: 100%;
    height: 480px;
    background-color: #555;
}

.none {
    display: none;
}
